# Python
venv/
venv_py38_backup/
__pycache__/
*.pyc

# Environment
.env

# Logs
logs/

# Uploads
uploads/

# Export files
exports/

# Backup
backups/

# Database
*.db

# VS Code
.vscode/

Add-Content .gitignore "`napp/static/invoices/*.pdf"

app/static/invoices/

.env.test

.coverage
htmlcov/
.pytest_cache/
.env.docker

.env.api
.env.db

.env.production
